@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-background: #0C0C0C;

  --color-main-text: #ffffff;
  --color-minor-text: #838383;
  --color-inverted-text: #000000;

  --color-active: #E3E3E3;
  --color-active-outline: #ffffff;

  --color-surface: #121212;
  --color-surface-outline: #1A1A1A;

  --color-on-surface:#1C1C1C;
  --color-on-surface-outline: #222222;

  --color-transparent: #00000000;
}

:root {
  font-size: 16px;
  color:var(--color-main-text);
}

body {
  background-color: var(--color-background);
}

::selection {
  background-color: var(--color-active);
  color: var(--color-inverted-text);
}

.menu {
    transition: 1s;
    transform: translateX(0);
}

.menu-hidden {
    transition: 1s;
    transform: translateX(-400);
}

.menu-button {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu-button:hover {
  transition: 0.2s;
  background-color: rgb(38, 38, 38);
}