@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-active: #ffffff;
  --color-surface: #0e0e0e;
  --color-on-surface:#212121;
  --color-outline: #212121;
}

:root {
  --page-background-color: #000000;
}

body {
  background-color: var(--page-background-color);
  color: white;
}

::selection {
    color: black;
    background: white;
}

.text-box-colors {
    transition: 0.1s;
    background-color: black;
    outline-style: solid;
    outline-color: var(--color-outline);
}

.text-box-error-colors {
    outline-color: red !important;
}

.text-box-colors:focus {
    transition: 0.1s;
    outline-color: white;
}

.menu {
    transition: 1s;
    transform: translateX(0);
}

.menu-hidden {
    transition: 1s;
    transform: translateX(-400);
}

.menu-button {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu-button:hover {
  transition: 0.2s;
  background-color: rgb(38, 38, 38);
}